#section-405-6985>.ct-section-inner-wrap {
    padding-top: 60px;
    padding-bottom: 0
}

@media (max-width:991px) {
    #section-405-6985>.ct-section-inner-wrap {
        display: none
    }
}

#div_block-408-6985 {
    width: 20.2%
}

#div_block-409-6985 {
    width: 20.2%
}

#div_block-410-6985 {
    width: 20.2%
}

#div_block-418-6985 {
    width: 20.2%
}

#div_block-419-6985 {
    width: 19.20%
}

@media (max-width:991px) {
    #new_columns-406-6985>.ct-div-block {
        width: 100% !important
    }
}

#new_columns-406-6985 {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    align-content: stretch
}

#headline-539-6985 {
    font-family: 'bwgradual-regular';
    color: #ffffff;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 13px;
    font-weight: 400;
    letter-spacing: -2px;
    width: 100%
}

#text_block-420-6985 {
    color: #a566ff;
    font-size: 12px;
    margin-bottom: 12px;
    font-family: 'Sequel Sans', sans-serif !important
}

#text_block-424-6985 {
    font-size: 12px;
    color: #a566ff;
    margin-bottom: 12px;
    font-family: 'Sequel Sans', sans-serif !important
}

#text_block-428-6985 {
    color: #a566ff;
    font-size: 12px;
    margin-bottom: 12px;
    font-family: 'Sequel Sans', sans-serif !important
}

#text_block-432-6985 {
    color: #a566ff;
    font-size: 12px;
    margin-bottom: 12px;
    font-family: 'Sequel Sans', sans-serif !important
}

#text_block-436-6985 {
    color: #a566ff;
    font-size: 12px;
    margin-bottom: 12px;
    font-family: 'Sequel Sans', sans-serif !important
}

#text_block-549-6985 {
    font-size: 15px;
    color: #27163f;
    font-weight: 600;
    font-family: 'Sequel Sans', sans-serif !important
}

#text_block-422-6985 {
    font-size: 18px;
    color: #3c3c3c;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#text_block-422-6985:hover {
    color: #a566ff
}

#link_text-69-7128 {
    font-size: 18px;
    color: #3c3c3c;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#link_text-69-7128:hover {
    color: #a566ff
}

#link_text-75-7128 {
    font-size: 18px;
    color: #3c3c3c;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#link_text-75-7128:hover {
    color: #a566ff
}

#link_text-76-7128 {
    font-size: 18px;
    color: #3c3c3c;
    font-weight: 500;
    url-encoded: true;
    margin-bottom: 10px;
    margin-left: 15px;
    font-family: 'DM Sans', sans-serif
}

#link_text-76-7128:hover {
    color: #a566ff
}

#link_text-71-7128 {
    font-size: 18px;
    color: #3c3c3c;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#link_text-71-7128:hover {
    color: #a566ff
}

#text_block-444-6985 {
    font-size: 18px;
    color: #3c3c3c;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#text_block-444-6985:hover {
    color: #a566ff
}

#text_block-445-6985 {
    font-size: 18px;
    color: #3c3c3c;
    font-weight: 500;
    url-encoded: true;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
    cursor: auto
}

#link_text-61-7128 {
    font-size: 18px;
    color: #3c3c3c;
    font-weight: 500;
    url-encoded: true;
    margin-bottom: 10px;
    margin-left: 15px;
    font-family: 'DM Sans', sans-serif
}

#link_text-61-7128:hover {
    color: #a566ff
}

#link_text-77-7128 {
    font-size: 18px;
    color: #3c3c3c;
    font-weight: 500;
    url-encoded: true;
    margin-bottom: 10px;
    margin-left: 15px;
    font-family: 'DM Sans', sans-serif
}

#link_text-77-7128:hover {
    color: #a566ff
}

#link_text-63-7128 {
    font-size: 18px;
    color: #3c3c3c;
    font-weight: 500;
    url-encoded: true;
    margin-bottom: 10px;
    margin-left: 15px;
    font-family: 'DM Sans', sans-serif
}

#link_text-63-7128:hover {
    color: #a566ff
}

#link_text-62-7128 {
    font-size: 18px;
    color: #3c3c3c;
    font-weight: 500;
    url-encoded: true;
    margin-left: 15px;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif
}

#link_text-62-7128:hover {
    color: #a566ff
}

#text_block-480-6985 {
    font-size: 18px;
    color: #3c3c3c;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#text_block-480-6985:hover {
    color: #a566ff
}

#text_block-461-6985 {
    font-size: 18px;
    color: #3c3c3c;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#text_block-461-6985:hover {
    color: #a566ff
}

#text_block-466-6985 {
    font-size: 18px;
    color: #3c3c3c;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#text_block-466-6985:hover {
    color: #a566ff
}

#text_block-471-6985 {
    font-size: 18px;
    color: #3c3c3c;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#text_block-471-6985:hover {
    color: #a566ff
}

#link_text-57-7128 {
    font-size: 18px;
    color: #3c3c3c;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#link_text-57-7128:hover {
    color: #a566ff
}

#text_block-65-7128 {
    color: #3c3c3c;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#text_block-65-7128:hover {
    color: #a566ff
}

#link_text-70-7128 {
    color: #3c3c3c;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#link_text-70-7128:hover {
    color: #a566ff
}

#text_block-499-6985 {
    color: #3c3c3c;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#text_block-499-6985:hover {
    color: #a566ff
}

#text_block-505-6985 {
    color: #3c3c3c;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#text_block-505-6985:hover {
    color: #a566ff
}

#text_block-508-6985 {
    color: #3c3c3c;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#text_block-508-6985:hover {
    color: #a566ff
}

#text_block-509-6985 {
    color: #3c3c3c;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#text_block-509-6985:hover {
    color: #a566ff
}

#link_text-64-7128 {
    color: #3c3c3c;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#link_text-64-7128:hover {
    color: #a566ff
}

#text_block-518-6985 {
    color: #3c3c3c;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#text_block-518-6985:hover {
    color: #a566ff
}

#link_text-66-7128 {
    color: #3c3c3c;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#link_text-66-7128:hover {
    color: #a566ff
}

#text_block-524-6985 {
    color: #3c3c3c;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#text_block-524-6985:hover {
    color: #a566ff
}

#text_block-533-6985 {
    color: #3c3c3c;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#text_block-533-6985:hover {
    color: #a566ff
}

#text_block-536-6985 {
    color: #3c3c3c;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    url-encoded: true;
    font-family: 'DM Sans', sans-serif
}

#text_block-536-6985:hover {
    color: #a566ff
}

#div_block-538-6985 {
    background-image: url(https://www.energyweb.org/wp-content/uploads/2021/09/footer-labs.svg);
    width: 100%;
    height: 206px;
    margin-top: 47px;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    url-encoded: true
}

#span-547-6985 {
    font-weight: 500
}